<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://thesecond.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/9d5b5c89-3f55-41b9-8027-0609cf0ef68e/resourceGroups/Activy/providers/Microsoft.Web/sites/TheSecond</ResourceId>
    <UserName>$TheSecond</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://thesecond.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>